* {
	box-sizing: border-box;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
	color: #333;
	position: relative;
}

#droplet {
    width: 50px;
    display: inline-block;
    margin-right: 12px;
    float: left;
}

.ivsa-logo-main {
    width: 220px;
    height: 220px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 60px;
}
